{% extends 'base.html' %}
{% load bootstrap5 %}

{% block sidebar %}
<h3 class="mb-3 text-center">Категории</h3>
<ul class="list-group mb-3">
    {% for category in categories %}
    <a href="{{ category.get_absolute_url }}"
       class="list-group-item {% if category == selected_category %}active{% endif %}">{{ category.title }}</a>
    {% endfor %}
</ul>
{% endblock sidebar %}

{% block filter_sidebar %}
<div class="mb-3">
    <form method="get">
        {% csrf_token %}
        {% bootstrap_form filters.form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
        {% endbuttons %}
    </form>
</div>
{% endblock filter_sidebar %}

{% block content %}
<div class="text-center mb-3">
    <h3>{{ title }}</h3>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    {% for item in products %}
    <div class="col">
        <div class="card h-100">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" class="card-img-top" alt="{{ item.title }}">
            {% else %}
                <img src="https://fakeimg.pl/500x500/?text=No%20Photo&font=bebas" alt="{{ item.title }}">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ item.title }}</h5>
                <h6 class="card-text">Категория:
                    <a class="card-link" href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                </h6>
                <p class="card-text flex-grow-1">{{ item.info }}</p>
                <h5 class="card-text">{{ item.price }} руб.</h5>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if page_obj.has_other_pages %}
<nav class="text-center mt-3">
    <ul>
        <div class="btn-group btn-group-lg" role="group">
            {% if page_obj.has_previous %}
            <a class="btn btn-primary active" href="?{{ filters.data.urlencode }}&page={{ page_obj.previous_page_number }}">&lt;</a>
            {% endif %}

            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <a class="btn btn-primary active" href="?{{ filters.data.urlencode }}&page={{ p }}">{{ p }}</a>
            {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
            <a class="btn btn-primary" href="?{{ filters.data.urlencode }}&page={{ p }}">{{ p }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-primary active" href="?{{ filters.data.urlencode }}&page={{ page_obj.next_page_number }}">&gt;</a>
            {% endif %}
        </div>
    </ul>
</nav>
{% endif %}
{% endblock %}