{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-3 text-center">
        {% if product.photo %}
        <img src="{{ product.photo.url }}" width="374" class="mt-1" alt="{{ product.title }}">
        {% else %}
        <img src="https://fakeimg.pl/374x374/?text=Нет%20Фото&font=bebas" alt="{{ product.title }}">
        {% endif %}
    </div>
    <div class="col-md-9">
        <div class="text-right mb-3">
            <h3>{{ title }}</h3>
            <p>{{ product.info }}</p>
            <h5>{{ product.price }} руб.</h5>
        </div>
    </div>
</div>
{% endblock %}
